# Configurações da Base de Dados
MYSQL_ROOT_PASSWORD=senha_da_base_de_dados_aqui
MYSQL_DATABASE=projeto_sesap

# Configurações de E-mail
SPRING_MAIL_USERNAME=ugtsicsesaprnprojeto@gmail.com
SPRING_MAIL_PASSWORD=insira_a_senha_de_app_aqui
